* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(238, 238, 238, 0.8);
  text-align: center;
}
.header {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 {
  width: 30%;
  font-size: 2rem;
  font-weight: 900;
  padding: 10px;
  text-shadow: 1px 1px #222;
  border-bottom: 2px solid #222;
  border-top: 2px solid #222;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin: 1rem 0 1rem 0;
}

.link-wrapper {
  width: auto;
  padding: 10px;
}

.nav-link {
  margin: 0 30px 0 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #444;
  font-weight: bold;
}

.nav-link:hover {
  border-bottom: 2px solid #444;
}

.section {
  margin: 2rem 0 4rem 0;
}

.section-header {
  margin: 2rem 0 3rem 0;
  font-size: 2rem;
}

/* Portfolio section */

.grid__container {
  display: grid;
  height: 100%;
  width: 100%;
  padding: 2rem 5rem 2rem 5rem;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 20px;
}

.grid__item {
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.grid__item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  background-position: center;
  transition: 0.5s ease-in-out;
}

.grid__item:hover img {
  transform: scale(1.15);
}

#item1 {
  grid-column: span 3;
  grid-row: span 2;
}
#item2 {
  grid-column: span 4;
  grid-row: span 1;
}
#item3 {
  grid-column: span 3;
  grid-row: span 1;
}
#item4 {
  grid-column: span 7;
  grid-row: span 1;
}
#item5 {
  grid-column: span 4;
  grid-row: span 1;
}
#item6 {
  grid-column: span 2;
}
#item7 {
  grid-column: span 4;
  grid-row: span 1;
}
#item8 {
  grid-column: span 3;
  grid-row: span 1;
}
#item9 {
  grid-column: span 3;
}
#item10 {
  grid-column: span 4;
}
#item11 {
  grid-column: span 5;
}
#item12 {
  grid-column: span 5;
}

/* Services section */

.services p {
  font-size: 1.3rem;
}

.services-list {
  margin: 2rem 0 2rem 0;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-item img {
  height: 80%;
  width: 90%;
  object-fit: cover;
  object-position: 50% 50%;
  background-position: center;
}

.service-item h4 {
  padding: 1rem 0 1rem 0;
  font-size: 1.8rem;
}

.service-item p {
  font-size: 1.2rem;
}

#service-item1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
#service-item2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
#service-item3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
#service-item4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
#service-item5 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
#service-item6 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

/* Contact section */

.contact-header p {
  font-size: 1.3rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 2rem 0;
  padding: 2rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20rem;
  background-color: rgba(128, 128, 128, 0.8);
  border-radius: 10%;
  color: #fff;
}

.label {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 1rem 0 1rem 0;
}

.input {
  height: 2rem;
  width: auto;
  padding: 0.5rem;
  border: 2px solid #444;
}

.textarea {
  padding: 0.5rem;
  border: 2px solid #444;
}

.submit {
  font-size: 1rem;
  font-weight: 600;
  height: 3rem;
  width: 5rem;
  margin: 1rem;
  border: 2px solid #444;
  cursor: pointer;
}

/* Lightbox */

#lightbox {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 5rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  position: fixed;
  display: none;
  transition: 0.3s;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content img {
  max-height: 80%;
  max-width: 90%;
  position: absolute;
  top: 11.5%;
  padding: 4px;
  background-color: black;
  border: 2px solid white;
}

.close {
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: 2rem;
  top: -1rem;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover {
  color: rgba(255, 255, 255, 1);
}

/* Back to top button */

.back-to-top {
  background-color: rgba(128, 128, 128, 0.7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  line-height: 1.5rem;
  padding: 0.6rem;
  width: 3rem;

  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}

#back-to-top:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}

/* Footer */

.footer {
  background-color: black;
  height: 10rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-link {
  color: #fff;
  font-weight: 200;
}

.footer-link:hover {
  border-bottom: 2px solid #fff;
}

.footer p {
  font-size: 1.2rem;
  padding: 20px;
}

/* Media queries for responsiveness */

@media screen and (max-width: 900px) {
  .header h1 {
    width: auto;
    font-size: 1.5rem;
  }

  .navbar {
    height: 2rem;
    margin: 0.5rem 0 0.5rem 0;
  }

  .nav-link {
    margin: 0 10px 0 10px;
  }

  .grid__container {
    padding: 1rem;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  #item1,
  #item2,
  #item3,
  #item4,
  #item5,
  #item6,
  #item7,
  #item8,
  #item9,
  #item10,
  #item11,
  #item12 {
    grid-column: unset;
    grid-row: unset;
  }

  .close {
    top: -2rem;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  #lightbox {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modal-content img {
    /* height: 100%;
    width: 100%; */
    border: none;
    padding: 0;
    background-color: none;
    object-fit: cover;
  }

  .close {
    opacity: 0;
  }

  .services-list {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }

  #service-item1,
  #service-item2,
  #service-item3,
  #service-item4,
  #service-item5,
  #service-item6 {
    grid-column: unset;
    grid-row: unset;
  }

  .form-container form {
    width: 16rem;
  }

  .back-to-top {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem;
    width: 3rem;
  }

  .showBtn {
    opacity: 0;
    pointer-events: none;
  }
} ;

:root {
  --slider-padding: 4rem;
}

.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider {
  --slider-index: 1;
  display: flex;
  width: calc(100% - 2 * var(--slider-padding));
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 300ms ease-in-out;`
}

.album {
  /* inline-size: 100%; */
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0.25rem;
  justify-content: center;
}

.img-album {
  inline-size: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  opacity: 1;
  transition: opacity 150ms linear;
  padding: 0.25rem;
}

.album .img-album:hover {
  /* transform: scale(1.1); */
  opacity: 0.85;
  padding: 0rem;
  /* border: 2.5px solid black; */
  box-shadow: 3px 3px 3px -3px;
}

.handle {
  flex-grow: 0;
  width: var(--slider-padding);
  background-color:  rgba(238, 238, 238, 1);
  z-index: 10;
  margin: 0 0 .35rem 0rem;

  border: none;
  /* border-radius: 0.25rem; */

  font-size: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: background-color 150ms ease-in-out;
}

.left-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.right-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.container:hover .handle {
  background-color:  rgba(238, 238, 238, 0.5);
}

.handle:hover {
  background-color:  rgba(238, 238, 238, 0.5);
}

.handle:hover .arrow {
  transform: scale(1.2);
  /* color: rgb(100, 13, 13); */
}

.arrow {
  transition: transform 150ms ease-in-out;
}

.modal-viewer-white {
  --bg-color: 0;
  position: fixed;
  top: 0;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  z-index: 1001;
  display: none;
}

.modal-viewer-gray {
  --bg-color: 0;
  position: fixed;
  top: 0;
  height: 100vh;
  background: rgba(125, 125, 125, 0.9);
  width: 100%;
  z-index: 1001;
  display: none;
}

.modal-viewer-black {
  --bg-color: 0;
  position: fixed;
  top: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  z-index: 1001;
  display: none;
}


.modal-close button {
  position: fixed;
  top: 50px;
  right: -500px;
  color: black;
  font-size: 2rem;
  z-index: 1002;
  width: 100%;
  border: none;
  background: none;
}

.modal-switchbg button {
  position: fixed;
  top: 100px;
  right: -500px;
  color: black;
  font-size: 2rem;
  z-index: 1002;
  width: 100%;
  border: none;
  background: none;
}


.modal-grid button {
  position: fixed;
  top: 150px;
  right: -500px;
  color: black;
  font-size: 2rem;
  z-index: 1002;
  width: 100%;
  border: none;
  background: none;
}

.modal-counter {
  position: fixed;
  top: 200px;
  right: -500px;
  color: black;
  font-size: 2rem;
  z-index: 1002;
  width: 100%;
  border: none;
  background: none;
}

.modal-grid:hover .grid, .modal-switchbg:hover .switch {
  color: white;
}

.switch, .grid {
  transition: color 150ms ease-in-out;
}

.gallery-box-class {
  display: none;
  z-index: 1010;
}

.gallery {
  position: fixed;
  top: 15vh;
  left: 15vw;
  margin: auto;
  /* display: flex; */
  width: 70%;
  overflow: hidden;
  z-index: 1010;
}

.slides img {
  width: 100%;
  display: none;
  z-index: 1010;
}

.slides img.displaySlide {
  display: block;   
  z-index: 1010;      
}

.gallery-single button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  background: none;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  z-index: 1010;
}

.prev {
  left: 0;
  z-index: 1010;
}

.next {
  right: 0;
  z-index: 1010;
}

.gallery-grid {
  display: none;
}

.gallery-grid .posts {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 450px));
  justify-content: center;
  grid-gap: 30px;
}

.gallery-grid .posts img {
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  /* vertical-align: top; */
}